
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Merienda One', cursive;
    color: #66BFBF;
    margin: 0.937rem auto;
    font-size: 2.6rem;
    line-height: 4;
    text-align: center;
}

h2 {
    font-weight: normal;
    color: #66BFBF;
    text-align: center;
}

h3 {
    color: #11999E;
}

.underline{
    text-decoration: underline;
}


.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
    height: 700px;
    text-align: center;
}

.profile-pic {
    margin: 20px auto 10px auto;
}
.middle-container {
    margin: auto;
    text-align: center;
    line-height: 2;
    background-color:antiquewhite;
}

.bottom-container {
    text-align: center;
    background-color: #11999E;
    line-height: 3;
    padding: 20px 0 20px;
}

.footer-link {
    padding-left: 15px;
    color: aqua;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    top: 15px;
}

.footer-link:hover {
    color: rgb(9, 220, 139);
}

.copyrght {
    color: white;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 400px;
}

.bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 350px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 25%;
    float: left;
    margin: auto 30px auto;
}

.chillies-img {
    width: 25%;
    float: right;
    margin: auto 30px auto;
}

.contact-me {
    padding: 20px;		
}

.contact-btn {
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    color: #11cdd4;
}

.contact-description{
    width: 40%;
    margin: 20px auto;
}

hr {
    border-style: dotted;
    color: #11999E;
    width: 4%;
    margin: 100px auto;
}
.btn {
    line-height: 7;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
